Project_ITPMS/nbproject/private/private.xml
Project_ITPMS/build/web/WEB-INF/classes/it/unisa/tirocinio/database/StudentTrainingDBOperation.class

Project_ITPMS/build/web/WEB-INF/classes/it/unisa/tirocinio/servlet/GetStudentTrainingStatus.class

Project_ITPMS/nbproject/private/private.properties

Project_ITPMS/nbproject/project.properties
Project_ITPMS/build/web/WEB-INF/classes/it/unisa/tirocinio/database/StudentTrainingDBOperation.class
Project_ITPMS/build/web/WEB-INF/classes/it/unisa/tirocinio/servlet/GetStudentTrainingStatus.class
Project_ITPMS/build/web/WEB-INF/classes/it/unisa/tirocinio/database/StudentTrainingDBOperation.class
Project_ITPMS/build/web/WEB-INF/classes/it/unisa/tirocinio/servlet/GetStudentTrainingStatus.class

Project_ITPMS/build/web/WEB-INF/sun-web.xml

.gitignore

Project_ITPMS/nbproject/ant-deploy.xml

Project_ITPMS/nbproject/private/private.properties

Project_ITPMS/nbproject/private/private.xml

Project_ITPMS/nbproject/project.properties

Project_ITPMS/build/web/tirocinio/professore/gestioneTirocinio&PlacementProfessore.html

Project_ITPMS/dist/ServerWeb.war

Project_ITPMS/build/web/WEB-INF/lib/javaee-web-api-7.0.jar
