<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>acceptStudentForTraining</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.acceptStudentForTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addErrorToStudentInformation</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.addErrorToStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllProfessors</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getAllProfessors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllOrganizations</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getAllOrganizations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTrainingOffers</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getAllTrainingOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOrganizationTrainingRequests</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getOrganizationTrainingRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProfessorTrainingRequests</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getProfessorTrainingRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRejectedMessage</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getRejectedMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentDetails</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getStudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentInformation</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentQuestionnaireCompletion</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getStudentQuestionnaireCompletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentTrainingCompleteForTable</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getStudentTrainingCompleteForTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentTrainingStatus</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getStudentTrainingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertNewOrganization</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.insertNewOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTrainingQuestionnaire</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.insertTrainingQuestionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTrainingRequest</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.insertTrainingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>organizationDeleteTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.organizationDeleteTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>organizationGetAllTrainingOffers</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.organizationGetAllTrainingOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>organizationInsertTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.organizationInsertTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>professorDeleteTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.professorDeleteTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>professorGetAllTrainingOffers</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.professorGetAllTrainingOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>professorInsertTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.professorInsertTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentUploadFiles</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.studentUploadFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>organizationUpdateTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.organizationUpdateTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>professorUpdateTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.professorUpdateTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrainingRequestStatus</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.updateTrainingRequestStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUploadFile</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.adminUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUploadFiles</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.adminUploadFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeLinkProfessorOrganization</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.changeLinkProfessorOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeTraining</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.completeTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeTrainingRequest</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.completeTrainingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllEntities</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getAllEntities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllDepartments</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getAllDepartments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentDownloadModule</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.studentDownloadModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unisa.integrazione.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unisa.integrazione.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProfessorStudentsViews</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getProfessorStudentsViews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdminStudentsViews</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.getAdminStudentsViews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateTrainingRequestStatus</servlet-name>
        <url-pattern>/updateTrainingRequestStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>professorUpdateTrainingOffer</servlet-name>
        <url-pattern>/professorUpdateTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>organizationUpdateTrainingOffer</servlet-name>
        <url-pattern>/organizationUpdateTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentUploadFiles</servlet-name>
        <url-pattern>/studentUploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>professorInsertTrainingOffer</servlet-name>
        <url-pattern>/professorInsertTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllProfessors</servlet-name>
        <url-pattern>/getAllProfessors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptStudentForTraining</servlet-name>
        <url-pattern>/acceptStudentForTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addErrorToStudentInformation</servlet-name>
        <url-pattern>/addErrorToStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllOrganizations</servlet-name>
        <url-pattern>/getAllOrganizations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTrainingOffers</servlet-name>
        <url-pattern>/getAllTrainingOffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOrganizationTrainingRequests</servlet-name>
        <url-pattern>/getOrganizationTrainingRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProfessorTrainingRequests</servlet-name>
        <url-pattern>/getProfessorTrainingRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRejectedMessage</servlet-name>
        <url-pattern>/getRejectedMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentDetails</servlet-name>
        <url-pattern>/getStudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentInformation</servlet-name>
        <url-pattern>/getStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentQuestionnaireCompletion</servlet-name>
        <url-pattern>/getStudentQuestionnaireCompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentTrainingCompleteForTable</servlet-name>
        <url-pattern>/getStudentTrainingCompleteForTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentTrainingStatus</servlet-name>
        <url-pattern>/getStudentTrainingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertNewOrganization</servlet-name>
        <url-pattern>/insertNewOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTrainingQuestionnaire</servlet-name>
        <url-pattern>/insertTrainingQuestionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTrainingRequest</servlet-name>
        <url-pattern>/insertTrainingRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>organizationDeleteTrainingOffer</servlet-name>
        <url-pattern>/organizationDeleteTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>organizationGetAllTrainingOffers</servlet-name>
        <url-pattern>/organizationGetAllTrainingOffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>organizationInsertTrainingOffer</servlet-name>
        <url-pattern>/organizationInsertTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>professorDeleteTrainingOffer</servlet-name>
        <url-pattern>/professorDeleteTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>professorGetAllTrainingOffers</servlet-name>
        <url-pattern>/professorGetAllTrainingOffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUploadFile</servlet-name>
        <url-pattern>/adminUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUploadFiles</servlet-name>
        <url-pattern>/adminUploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeLinkProfessorOrganization</servlet-name>
        <url-pattern>/changeLinkProfessorOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeTraining</servlet-name>
        <url-pattern>/completeTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeTrainingRequest</servlet-name>
        <url-pattern>/completeTrainingRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllEntities</servlet-name>
        <url-pattern>/getAllEntities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllDepartments</servlet-name>
        <url-pattern>/getAllDepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentDownloadModule</servlet-name>
        <url-pattern>/studentDownloadModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProfessorStudentsViews</servlet-name>
        <url-pattern>/getProfessorStudentsViews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdminStudentsViews</servlet-name>
        <url-pattern>/getAdminStudentsViews</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         c:\apache-tomcat-5.5.29\webapps\data\
     </param-value>
    </context-param>
</web-app>
