<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>getStudentTrainingStatus</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.getStudentTrainingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTrainingByOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.insertTrainingByOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTrainingByProfessorServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.insertTrainingByProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentAttDetailsServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.studentAttDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadInformationFilesServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.uploadInformationFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectTrainingByProfessorServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.selectTrainingByProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadInformationForModuleFilesServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.uploadInformationForModuleFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfessorForTrainingOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.changeProfessorForTrainingOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptStudentForTraining</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.acceptStudentForTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectStudentForTraining</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.rejectStudentForTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllTrainingOffer</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewAllTrainingOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectTrainingByOrganization</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.selectTrainingByOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTrainingRequestServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.insertTrainingRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDetailsForTraininfOfferServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewDetailsForTraininfOfferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllProfessor</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewAllProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewAllOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTrainingRequestForProfessorServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewTrainingRequestForProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTrainingRequestForOrganizationSevlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewTrainingRequestForOrganizationSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentInformation</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.getStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrainingOfferByOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.deleteTrainingOfferByOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrainingOfferByOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.updateTrainingOfferByOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrainingOfferByProfessorServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.updateTrainingOfferByProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrainingOfferByProfessorServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.deleteTrainingOfferByProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendingErrorsForStudentInformationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.sendingErrorsForStudentInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertNewOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.insertNewOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllStudentProfANDOrganizationServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.viewAllStudentProfANDOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeStudentForTraining</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.completeStudentForTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentTrainingCompleteForTable</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.getStudentTrainingCompleteForTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appendStudentIntoSelectForChangeTraining</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.appendStudentIntoSelectForChangeTraining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeTrainingStudentForTotalComplete</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.changeTrainingStudentForTotalComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeTrainingInsertQuestionnaire</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.completeTrainingInsertQuestionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readQuestionnaireForStudentTrainingServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.readQuestionnaireForStudentTrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRejectedMessage</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.getRejectedMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unisa.tirocinio.servlet.student.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getStudentTrainingStatus</servlet-name>
        <url-pattern>/getStudentTrainingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTrainingByOrganizationServlet</servlet-name>
        <url-pattern>/insertTrainingByOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTrainingByProfessorServlet</servlet-name>
        <url-pattern>/insertTrainingByProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentAttDetailsServlet</servlet-name>
        <url-pattern>/studentAttDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadInformationFilesServlet</servlet-name>
        <url-pattern>/uploadInformationFilesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectTrainingByProfessorServlet</servlet-name>
        <url-pattern>/selectTrainingByProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadInformationForModuleFilesServlet</servlet-name>
        <url-pattern>/uploadInformationForModuleFilesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfessorForTrainingOrganizationServlet</servlet-name>
        <url-pattern>/changeProfessorForTrainingOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptStudentForTraining</servlet-name>
        <url-pattern>/acceptStudentForTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectStudentForTraining</servlet-name>
        <url-pattern>/rejectStudentForTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllTrainingOffer</servlet-name>
        <url-pattern>/viewAllTrainingOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectTrainingByOrganization</servlet-name>
        <url-pattern>/selectTrainingByOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTrainingRequestServlet</servlet-name>
        <url-pattern>/insertTrainingRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDetailsForTraininfOfferServlet</servlet-name>
        <url-pattern>/viewDetailsForTraininfOfferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllProfessor</servlet-name>
        <url-pattern>/viewAllProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllOrganizationServlet</servlet-name>
        <url-pattern>/viewAllOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTrainingRequestForProfessorServlet</servlet-name>
        <url-pattern>/viewTrainingRequestForProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTrainingRequestForOrganizationSevlet</servlet-name>
        <url-pattern>/viewTrainingRequestForOrganizationSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentInformation</servlet-name>
        <url-pattern>/getStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrainingOfferByOrganizationServlet</servlet-name>
        <url-pattern>/deleteTrainingOfferByOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrainingOfferByOrganizationServlet</servlet-name>
        <url-pattern>/updateTrainingOfferByOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrainingOfferByProfessorServlet</servlet-name>
        <url-pattern>/updateTrainingOfferByProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrainingOfferByProfessorServlet</servlet-name>
        <url-pattern>/deleteTrainingOfferByProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendingErrorsForStudentInformationServlet</servlet-name>
        <url-pattern>/sendingErrorsForStudentInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertNewOrganizationServlet</servlet-name>
        <url-pattern>/insertNewOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllStudentProfANDOrganizationServlet</servlet-name>
        <url-pattern>/viewAllStudentProfANDOrganizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeStudentForTraining</servlet-name>
        <url-pattern>/completeStudentForTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentTrainingCompleteForTable</servlet-name>
        <url-pattern>/getStudentTrainingCompleteForTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appendStudentIntoSelectForChangeTraining</servlet-name>
        <url-pattern>/appendStudentIntoSelectForChangeTraining</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeTrainingStudentForTotalComplete</servlet-name>
        <url-pattern>/changeTrainingStudentForTotalComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeTrainingInsertQuestionnaire</servlet-name>
        <url-pattern>/completeTrainingInsertQuestionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readQuestionnaireForStudentTrainingServlet</servlet-name>
        <url-pattern>/readQuestionnaireForStudentTrainingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRejectedMessage</servlet-name>
        <url-pattern>/getRejectedMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         c:\apache-tomcat-5.5.29\webapps\data\
     </param-value>
    </context-param>
</web-app>
